// main variables
$nav_background : #373277;
$color : #fff;

*{
    margin : 0px;
    border : 0px;
    flex-wrap: nowrap;
    font-family: "Segoe UI","Helvetica Neue","Helvetica",Arial,sans-serif;
}
body{
    overflow-x: none;
    padding-top : 50px;
    font-weight: 400;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $color !important;
    opacity: 0.8; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $color !important;
    opacity: 0.8; /* Firefox */
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: $color !important;
    opacity: 0.8; /* Firefox */
  }

#navbar{
    background : $nav_background;
    color : $color;
    font-size: 16px;
    overflow : hidden;
    top : 0px;
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.33);
    z-index : 100000;
    .container{
        padding : 0px !important;
    }
    .brand{
        color : $color;
        text-decoration: none;
        clear: both;
        font-size: 20px;
        letter-spacing: -0.04rem;
        line-height: 20px;
        font-weight: 600;
        padding : 15px 15px;
        display: inline-block;
        float : left;
        img{
            width : 20px;
            height : 20px;
            vertical-align: bottom;
            transform: scale(1.4);
            margin-right : 5px;
        }
    }
    .drowDownMenu{
        display : inline;
    }
    .pages{
        list-style : none;
        margin : 0px;
        padding : 0px;
        display : inline-block;
        li{
            display : inline-block;
            opacity: 0.6;
            &:hover{
                opacity: 1;
            }
            a{
                color : $color;
                cursor: pointer;
                padding-left: 12px;
                padding-right: 12px;
                text-decoration : none;
            }
        }
    }

    .search-download{
        float: right;
        list-style : none;
        display : inline-block;
        li{
            display : inline-block;
        }
        .search{
            form{
                div{
                    position: relative;
                    font-size: 14px;
                    line-height: 1.42857143;
                    input{
                        background: rgba(255,255,255,0.08);
                        border: none;
                        height: 50px;
                        padding: 6px 15px 6px 40px;
                        border-radius: 0;
                        color: white;
                        -webkit-transition: opacity 0.08s ease-in;
                        -moz-transition: opacity 0.08s ease-in;
                        -o-transition: opacity 0.08s ease-in;
                        transition: opacity 0.08s ease-in;
                        margin-left : -4px; 
                        &:hover{
                            outline: 1px solid rgba(255,255,255,0.2);
                            outline-offset: -1px;
                            background: rgba(255,255,255,0.18);
                        }
                    }
                    button{
                        position: absolute;
                        width: 36px;
                        z-index: 5;
                        top: 0px;
                        height: 50px;
                        right: 163px;
                        background-color : transparent;
                        img{
                            vertical-align: middle;
                            position : absolute;
                            top: 15px;
                            right: 10px;
                            opacity: 0.9;
                        }
                    }
                }
            }
        }
        .download{
            color: #fff;
            font-size: 16px;
            padding: 16px 1px;
            margin-right : 15px;
            height: 50px;
            background-color: #477a32;
            margin-left : -4px;
            font-weight: 500;
            &:hover{
                background-color: #58973e;
            }
            a{
                color : $color;
                text-decoration : none;
                display : inline;
            }
            img{
                margin-right : 5px;
            }
        }
    }
    .menu-icon , .searchPhone{
        display : none !important;
    }
}

@media (max-width: 767px){
    #navbar{
        width : 100vw;
        .menu-icon{
            display : inline !important;
            cursor: pointer;
            float : right;
            padding: 6.5px 7px;
            margin : 7px;
            background-color: transparent;
            border: 1px solid transparent;
            border-radius: 4px;
            position: absolute;
            top : 0px;
            right : 0px;
            cursor: pointer;
            &:focus , &:hover{
                background-color: rgba(94,87,184,0.6);
            }
            .icon-bar{
                display: block;
                width: 22px;
                height: 2px;
                border-radius: 1px;
                background : $color;
                margin-top : 4px;
            }
        }
        .brand{
            display : block;
            width : 100%;
        }
        .drowDownMenu{
            display : none;
        }
        .pages{
            display: block;
            width : 100%;
            margin-top : 60px;
            li{
                display : block;
                width : 100%;
                opacity: 1;
                a{
                    display : block;
                    width : 100%;
                    padding : 10px;
                }
            }
        }

        .search-download{
            width : 100%;
            .search{
                display : none !important;
            }
            .searchPhone{
                display : block;
                width : 100%;
                opacity: 1;
                a{
                    color : $color;
                    cursor: pointer;
                    display : block;
                    padding : 10px;
                    width : 100%;
                    text-decoration : none;
                }
            }
            .download{
                width : 100%;
                margin-left : -15px;
            }
        }

    }

}
