* {
  margin: 0px;
  border: 0px;
  flex-wrap: nowrap;
  font-family: "Segoe UI","Helvetica Neue","Helvetica",Arial,sans-serif; }

body {
  overflow-x: none;
  padding-top: 50px;
  font-weight: 400; }

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff !important;
  opacity: 0.8;
  /* Firefox */ }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff !important;
  opacity: 0.8;
  /* Firefox */ }

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #fff !important;
  opacity: 0.8;
  /* Firefox */ }

#navbar {
  background: #373277;
  color: #fff;
  font-size: 16px;
  overflow: hidden;
  top: 0px;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.33);
  z-index: 100000; }
  #navbar .container {
    padding: 0px !important; }
  #navbar .brand {
    color: #fff;
    text-decoration: none;
    clear: both;
    font-size: 20px;
    letter-spacing: -0.04rem;
    line-height: 20px;
    font-weight: 600;
    padding: 15px 15px;
    display: inline-block;
    float: left; }
    #navbar .brand img {
      width: 20px;
      height: 20px;
      vertical-align: bottom;
      transform: scale(1.4);
      margin-right: 5px; 
      border-radius: 50%;
      background: white;}
  #navbar .drowDownMenu {
    display: inline; }
  #navbar .pages {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: inline-block; }
    #navbar .pages li {
      display: inline-block;
      opacity: 0.6; }
      #navbar .pages li:hover {
        opacity: 1; }
      #navbar .pages li a {
        color: #fff;
        cursor: pointer;
        padding-left: 12px;
        padding-right: 12px;
        text-decoration: none; }
  #navbar .search-download {
    float: right;
    list-style: none;
    display: inline-block; }
    #navbar .search-download li {
      display: inline-block; }
    #navbar .search-download .search form div {
      position: relative;
      font-size: 14px;
      line-height: 1.42857143; }
      #navbar .search-download .search form div input {
        background: rgba(255, 255, 255, 0.08);
        border: none;
        height: 50px;
        padding: 6px 15px 6px 40px;
        border-radius: 0;
        color: white;
        -webkit-transition: opacity 0.08s ease-in;
        -moz-transition: opacity 0.08s ease-in;
        -o-transition: opacity 0.08s ease-in;
        transition: opacity 0.08s ease-in;
        margin-left: -4px; }
        #navbar .search-download .search form div input:hover {
          outline: 1px solid rgba(255, 255, 255, 0.2);
          outline-offset: -1px;
          background: rgba(255, 255, 255, 0.18); }
      #navbar .search-download .search form div button {
        position: absolute;
        width: 36px;
        z-index: 5;
        top: 0px;
        height: 50px;
        right: 163px;
        background-color: transparent; }
        #navbar .search-download .search form div button img {
          vertical-align: middle;
          position: absolute;
          top: 15px;
          right: 10px;
          opacity: 0.9; }
    #navbar .search-download .download {
      color: #fff;
      font-size: 16px;
      padding: 16px 1px;
      margin-right: 15px;
      height: 50px;
      background-color: #477a32;
      margin-left: -4px;
      font-weight: 500; }
      #navbar .search-download .download:hover {
        background-color: #58973e; }
      #navbar .search-download .download a {
        color: #fff;
        text-decoration: none;
        display: inline; }
      #navbar .search-download .download img {
        margin-right: 5px; }
  #navbar .menu-icon, #navbar .searchPhone {
    display: none !important; }

@media (max-width: 767px) {
  #navbar {
    width: 100vw; }
    #navbar .menu-icon {
      display: inline !important;
      cursor: pointer;
      float: right;
      padding: 6.5px 7px;
      margin: 7px;
      background-color: transparent;
      border: 1px solid transparent;
      border-radius: 4px;
      position: absolute;
      top: 0px;
      right: 0px;
      cursor: pointer; }
      #navbar .menu-icon:focus, #navbar .menu-icon:hover {
        background-color: rgba(94, 87, 184, 0.6); }
      #navbar .menu-icon .icon-bar {
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
        background: #fff;
        margin-top: 4px; }
    #navbar .brand {
      display: block;
      width: 100%; }
    #navbar .drowDownMenu {
      display: none; }
    #navbar .pages {
      display: block;
      width: 100%;
      margin-top: 60px; }
      #navbar .pages li {
        display: block;
        width: 100%;
        opacity: 1; }
        #navbar .pages li a {
          display: block;
          width: 100%;
          padding: 10px; }
    #navbar .search-download {
      width: 100%; }
      #navbar .search-download .search {
        display: none !important; }
      #navbar .search-download .searchPhone {
        display: block;
        width: 100%;
        opacity: 1; }
        #navbar .search-download .searchPhone a {
          color: #fff;
          cursor: pointer;
          display: block;
          padding: 10px;
          width: 100%;
          text-decoration: none; }
      #navbar .search-download .download {
        width: 100%;
        margin-left: -15px; } }

/*# sourceMappingURL=navbar.css.map */
