*.dylib
*.dll
*.so
*.orig
*.swp
tmp/
.vscode/

*.jld
.ipynb_checkpoints

deps/usr
deps/deps.jl
deps/build.log

docs/build/
docs/_docs/
docs/_tutorials/
docs/_site/
docs/.gems/
docs/Gemfile.lock

.DS_Store
