*.dylib
*.dll
*.so
*.orig
*.swp
tmp/
.vscode/

*.jld
.ipynb_checkpoints

deps/usr
deps/deps.jl
deps/build.log

docs/build/
docs/_docs/
docs/_tutorials/
docs/_site/
docs/.gems/
docs/.jekyll-cache/
docs/Gemfile.lock
docs/.jekyll-cache

.vscode
.DS_Store
Manifest.toml
test/Project.toml

benchmarks/output/
