/* Bootstrap dropdown style */
body {
  line-height: 1.5;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-toggle {
  white-space: nowrap;
}
.dropdown-toggle::after {
  display: inline-block;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: .5rem 0;
  margin: .125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
}
.dropdown-menu[x-placement^=bottom], .dropdown-menu[x-placement^=left], .dropdown-menu[x-placement^=right], .dropdown-menu[x-placement^=top] {
  right: auto;
  bottom: auto;
}
.dropdown-menu.show {
  display: block;
}
.dropdown-item {
  display: block;
  width: 100%;
  padding: .25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
.dropdown-item:hover,
.dropdown-item:focus {
  background-color: #f8f9fa;
}
.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #007bff;
}
.dropdown-item.disabled,
.dropdown-item:disabled {
  color: #6c757d;
  pointer-events: none;
  background-color: transparent;
}
.dropdown-divider {
  height: 0;
  margin: .5rem 0;
  overflow: hidden;
  border-top: 1px solid #e9ecef;
}
/* Turing.hl header version widget */
.md-header-nav__button.md-logo * {
  position: inherit;
}
.md-header-nav .dropdown {
  margin: 1.6rem 0 0 -2rem;
}
.md-flex__cell--shrink .dropdown-item, .md-flex__cell--shrink .dropdown-item:hover {
  color:#262626;
}
.dropdown-toggle {
  opacity: 0.6;
}
.dropdown-note {
  display: block;
  width: 100%;
  padding: .25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #999;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
.md-nav__dropdown {
  display: block;
  padding: 1.2rem;
  text-align: center;
}
/* Twitter Button */
#twitter-widget-0 {
  margin-top: 14px;
  margin-right: 10px;
}
/*--------------------------------------------------------------
# Media Queries
--------------------------------------------------------------*/
@media only screen and (min-width: 80em) {
  .md-search__inner {
    width: 23rem;
  }
}
