---
layout: null
excluded_in_search: true
---
body {
    font-family: "Lato",-apple-system,BlinkMacSystemFont,"Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
}

.full-width {
    max-width: 100%;
    padding: 0;
    margin: 0;
}

.show-hide {
    display: none;
}

.md-flex__cell--shrink a {
    text-decoration: none;
    color: #f5f5f5
}

.md-flex__cell--shrink a:hover {
    color: #d6d7d8
}

.jumbotron {
    background-color: #d2e6f5;
    background-repeat: no-repeat;
    margin: 0;
}

@media (max-width: 992px) {
    .jumbotron {
    background-size: 130% 40%;
    background-position: bottom;
    }
}

@media (min-width: 992px) {
    .jumbotron {
    background-size: 100% 70%;
    background-position: bottom;
    }
}

@media (min-width: 576px){
    .jumbotron {
        padding: 2rem 1rem;
    }
}

.jumbotron h1 {
    color: inherit;
}

.jumbotron .bottom-padding{
    padding: 4rem;
}

@media (min-width: 990px){
.jumbotron .bottom-padding{
    padding: 3rem;
}
}


.jumbotron-color {
    color: black;
}

.lead p {
    font-size: 1.6rem;
}

.text-content {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.swimlane {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.md-typeset h2 {
    font-weight: bold;
}

button:focus {
    outline:none;
}

.swimlane:nth-child(even) {
    background-color: #f5f5f5;
}

/* Gray */
.btn-default {
    border-color: #e7e7e7;
    color: black;
  }
  
  .btn-default:hover {
    background: #e7e7e7;
  }

  .btn {
    border-radius: 5px;
  }


  .ecosystem-card {
    border-radius: 0;
    border: none;
    margin-bottom: 1.875rem;
    height: auto;
    background-color: #f3f4f7;
}

.card-body {
    -webkit-box-flex: 1;
    flex: 1 1 auto;
}

.ecosystem-card .card-body {
    background-position: top 1.25rem right 1.25rem;
    background-repeat: no-repeat;
    padding: 1.5625rem 1.875rem;
}

.ecosystem-card .card-body.tool {
    background-size: 29px 25px;
}

@media (max-width: 991px) and (min-width: 768px){
    .ecosystem-card, .resource-card {
        height: 24rem;
    }
}

@media (max-width: 1199px) and (min-width: 992px){
    .ecosystem-card, .resource-card {
        height: 20rem;
    }
}

@media (min-width: 1200px){
    .ecosystem-card, .resource-card {
        height: 18rem;
    }
}

[data-md-color-primary=red] .md-typeset a {
    color: #102738;
    text-decoration: none;
}

.resource-card {
    border: 1px solid #d6d7d8;
    background-color: white;
    margin-bottom: 1.25rem;
}

.resource-card.slack:before, .resource-card.github:before, .resource-card.turing-resource:before {
    content: "";
    background-size: 32px 32px;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    height: 32px;
    width: 32px;
    top: 15px;
    left: 15px;
}

.resource-card.slack:before {
    background-image: url({{ site.baseurl }}/assets/images/logo-slack.svg);
}

.resource-card.github:before {
    background-image: url({{ site.baseurl }}/assets/images/logo-github.svg);
}

.resource-card.turing-resource:before {
    background-image: url({{ site.baseurl }}/assets/images/turing-logo.svg);
}

.resource-card .card-body {
    display: block;
    padding: 0 15px 0 0;
    position: relative;
    margin-left: 60px;
}

@media screen and (min-width: 1240px){
    .resource-card .card-body {
        margin-left: 80px;
        padding-right: 30px;
    }
}

.university-testimonials h2 {
    margin-top: 0;
    margin-bottom: 4rem;
}

@media (min-width: 1441px){
    .container {
         max-width: 1300px; 
    }
    .lead p {
        font-size: 1.4rem;
    }
}

@media (min-width: 1600px){
    .container {
         max-width: 1500px; 
    }
    .lead p {
        font-size: 1.6rem;
    }
}

@media (min-width: 1800px){
    .container {
         max-width: 1600px; 
    }
    .lead p {
        font-size: 1.8rem;
    }
}

@media (min-width: 2000px){
    .container {
         max-width: 1800px; 
    }
    .lead p {
        font-size: 2.0rem;
    }
}

@media (min-width: 2200px){
    .container {
         max-width: 2000px; 
    }
    .lead p {
        font-size: 2.2rem;
    }
}

@media (min-width: 2400px){
    .container {
         max-width: 2200px; 
    }
    .lead p {
        font-size: 2.4rem;
    }
}

sub a {
    color: #52adc8;
}