name: DynamicHMC-CI

on: [push] # [push, pull_request]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        julia-version: [1.0.5, 1.2.0]
        julia-arch: [x64, x86]
        os: [ubuntu-latest]


    steps:
      - uses: actions/checkout@v1.0.0
      - uses: julia-actions/setup-julia@latest
        with:
          version: ${{ matrix.julia-version }}
      - uses: julia-actions/julia-runtest@master
        env:
          STAGE: dynamichmc
