name: Tests

on:
  push:
    branches:
      - main
  pull_request:
  merge_group:
    types: [checks_requested]

# Cancel existing tests on the same PR if a new commit is added to a pull request
concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}

jobs:
  test:
    # Use matrix.test.name here to avoid it taking up the entire window width
    name: test ${{matrix.test.name}} (${{ matrix.runner.version }}, ${{ matrix.runner.os }}, ${{ matrix.runner.num_threads }})
    runs-on: ${{ matrix.runner.os }}
    continue-on-error: ${{ matrix.runner.version == 'pre' }}

    strategy:
      fail-fast: false
      matrix:
        test:
          # Run some of the slower test files individually. The last one catches everything
          # not included in the others.
          - name: "mcmc/gibbs"
            args: "mcmc/gibbs.jl"
          - name: "mcmc/Inference"
            args: "mcmc/Inference.jl"
          - name: "ad"
            args: "ad.jl"
          - name: "everything else"
            args: "--skip mcmc/gibbs.jl mcmc/Inference.jl ad.jl"
        runner:
          # Default
          - version: '1'
            os: ubuntu-latest
            num_threads: 1
          # Multithreaded
          - version: '1'
            os: ubuntu-latest
            num_threads: 2
          # Windows
          - version: '1'
            os: windows-latest
            num_threads: 1
          # macOS
          - version: '1'
            os: macos-latest
            num_threads: 1
          # Minimum supported Julia version
          - version: 'min'
            os: ubuntu-latest
            num_threads: 1
          # Minimum supported Julia version, multithreaded
          - version: 'min'
            os: ubuntu-latest
            num_threads: 2
          # Pre-release Julia version
          - version: 'pre'
            os: ubuntu-latest
            num_threads: 1

    steps:
      - name: Print matrix variables

        run: |
          echo "OS: ${{ matrix.runner.os }}"
          echo "Julia version: ${{ matrix.runner.version }}"
          echo "Number of threads: ${{ matrix.runner.num_threads }}"
          echo "Test arguments: ${{ matrix.test.args }}"

      - uses: actions/checkout@v4

      - uses: julia-actions/setup-julia@v2
        with:
          version: '${{ matrix.runner.version }}'

      - uses: julia-actions/cache@v2

      - uses: julia-actions/julia-buildpkg@v1

      # TODO: Use julia-actions/julia-runtest when test_args are supported
      # Custom calls of Pkg.test tend to miss features such as e.g. adjustments for CompatHelper PRs
      # Ref https://github.com/julia-actions/julia-runtest/pull/73
      - name: Call Pkg.test
        run: julia --color=yes --inline=yes --depwarn=yes --check-bounds=yes --threads=${{ matrix.runner.num_threads }} --project=@. -e 'import Pkg; Pkg.test(; coverage=parse(Bool, ENV["COVERAGE"]), test_args=ARGS)' -- ${{ matrix.test.args }}

      - uses: julia-actions/julia-processcoverage@v1

      - uses: codecov/codecov-action@v5
        with:
          files: lcov.info
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true
